header {
    text-align: center;
    background-color: #E5E5E5;
}
h1, h2 {
    
    background-color: #C4C4C4 ;
    color: #005677;
}
main {
    position:;
    text-align: justify;
}
footer {
    text-align: center;
    font-family: 'Times New Roman', Times, serif ;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #005677;
    color: #FFFFFF;
}
